/* src/Services.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  
  
  .main-content {
    padding: 40px 20px;
  }
  
  .footer {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  